* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 2px gray;
}

::-webkit-scrollbar-thumb {
    background: #9AC5F4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7193b8;
}

body {
    font-family: 'Bitter', serif;
}

header {
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(170,175,185,1) 0%, rgba(172,172,176,1) 100%);
    overflow-x: hidden;
    padding: 40px;
}

.incroyable {
    max-width: 600px;
    height: 50%;
    box-shadow: 0px 0px 20px 4px black;
    opacity: 0;
    animation: appear 1s ease-out 2s forwards;
}

.heading-text {
    color: white;
    padding: 12px;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
}

.heading-text h1, .heading-text h2 {
    animation: appear 3s ease-out forwards;
    opacity: 0;
}

.heading-text p {
    line-height: 1.2rem;
    animation: move 1.5s ease-in forwards 1.5s;
    opacity: 0;
    transform: translateX(200%);
}

.heading-text h1 {
    font-size: 5rem;
    font-weight: 300;
}

.heading-text h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    margin-top: 100px;
}

.logos img {
    width: 90px;
    height: 90px;
    transform: translateY(-1000%) rotate(0deg) scale(1);
}

.logos img:nth-child(1) {
    animation: logo-anim 2s ease-out 3s forwards, logo-anim2 6s ease-out 10s infinite;
}

.logos img:nth-child(2) {
    animation: logo-anim 2s ease-out 3.5s forwards, logo-anim2 6s ease-out 10.7s infinite;
}

.logos img:nth-child(3) {
    animation: logo-anim 2s ease-out 4s forwards, logo-anim2 6s ease-out 11.4s infinite;
}

#bio {
    height: 85vh;
    background: #10151f;
    padding: 64px;
}

.bio-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.bio-container img {
    height: 70%;
    min-width: 320px;
}

.bio-text {
    padding: 24px;
    width: 650px;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    font-size: 1rem;
    color: white;
}

.skills {
    width: 500px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    border-radius: 12px;
    padding: 4px 16px;
    font-size: 0.9rem;
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js {
    background: rgb(133, 133, 7);
}

.css {
    background: rgb(4, 100, 156);
}

.html {
    background: rgb(146, 67, 2);
}

.react {
    background: rgb(0, 93, 129);
}

#learning {
    height: 70vh;
    background: radial-gradient(circle, rgba(92,143,245,1) 0%, rgba(60,117,172,1) 100%);
    padding: 48px;
}

.learning-container {
    bordser: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.learning-container h2 {
    color: white;
    borsder: 1px solid white;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: normal;
}

.learning-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.learning-container img {
    width: 50%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learning-text {
    color: rgb(236, 234, 234);
    line-height: 1.5rem;
    font-size: 1rem;
    height: 450px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 32px;
}

#projects {
    background: radial-gradient(circle, rgb(105, 107, 114) 0%, rgb(79, 82, 88) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px;
    height: auto;
    color: rgb(231, 231, 231);
}

#projects h2 {
    font-size: 3rem;
    font-weight: normal;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 60px;
    gap: 100px;
    justify-content: center;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    gap: 40px;
    word-wrap: break-word;
    background: rgb(39, 43, 56);
    overflow: hidden;
}

.project img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.project:hover img {
    transform: scale(1.05);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 320px;
    padding: 8px;
    gap: 24px;
}

.project-info h3 {
    font-size: 1.6rem;
    font-weight: normal;
}

.project-info p {
    line-height: 1.6rem;
}

.project-info a {
    color: white;
}

.project-info a:hover {
    color: peru;
}

footer {
    background-color: black;
    color: white;
    padding: 28px ;
    box-shadow: 0px 0px 8px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
}

footer p:nth-child(1) {
    font-size: 2.3rem;
}

footer p:nth-child(2) {
    margin-top: 50px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    width: 60%;
    justify-items: center;
}

.icon {
    font-size: 3rem;
    color: white;
    height: 60%;
}

.icon:nth-child(1):hover {
    color: gray;
}

.icon:nth-child(2):hover {
    color: purple;
}

.icon:nth-child(3):hover {
    color: rgb(0, 110, 255);
}

.linktext {
    font-size: 0;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes move {
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.6;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes logo-anim {
    90% {
        transform: translateY(50%) rotate(180deg);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes logo-anim2 {
    15% {
        transform: scale(1.2)
    }
    30% {
        transform: scale(1)
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 20px;
    }
    .incroyable {
        grid-row: 2;
    }
    .heading-text {
        max-width: 400px;
        margin-right: 0;
    }
    .heading-text h1 {
        font-size: 2.5rem;
        align-self: center;
    }
    .heading-text h2 {
        font-size: 2rem;
        align-self: center;
    }
    .logos {
        margin-top: 10px;
        justify-items: center;
    }
    .logos img {
        width: 70px;
        height: 70px;
    }
    main {
        padding: 32px;
    }
    main h2 {
        font-size: 2.5rem;
    }
    .projects {
        gap: 50px;
    }
    .project img {
        margin-bottom: 0px;
    }
    .project p:nth-child(2) {
        font-size: 1.1rem;
    }
    .project p:nth-child(3) {
        font-size: 0.8rem;
    }
    footer {
        padding: 16px;
        gap: 20px;
    }
    footer p:nth-child(1) {
        font-size: 2rem;
    }
    footer p:nth-child(2) {
        margin-top: 20px;
    } 
}